.qualityReview {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.colorCard {
  height: 154px;
  width: 154px;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}

.card {
  width: 155px;
  margin: 20px;
}

.distribs {
  position: absolute;
  top: 5px;
  left: 10px;
}