.qualityReview {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.colorCard {
  height: 174px;
  width: 174px;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  box-sizing: border-box;
}

.topLeft {
  position: absolute;
  top: 5px;
  left: 10px;
}

/* following classes are same as those found in ProfessorCard.module.css */
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card {
  margin: 0;
  width: 174px;
  cursor: pointer;
}

.card:hover {
  opacity: 0.75;
}