.horizontalContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.verticalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin: 28px 0;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}