.main {
    position: absolute;
    padding: 20px 80px 50px 275px;
}

.pic {
    height: 174px;
    width: 174px;
    border-radius: 50%;
    object-fit: cover;
}

.title {
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    border-radius: 30px;
    align-items: center;
    gap: 20px;
    width: 900px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    margin-top: 35px;
}

.resultContainer {
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    gap: 60px;
    margin: 25px;
    overflow-x: scroll;
    white-space: nowrap;
    max-width: 100%;
}

.profile {
    display: 'flex';
    flex-direction: 'row';
    align-items: 'flex-end';
    gap: '20px';
}