.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -30px;
    margin-top: 20px;
}

.recentSearches {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
    margin: 25px;
}

.depts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px 30px;
    margin: 25px
}