.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.horizontalContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 150px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    margin-top: 35px;
}

.resultContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
    margin: 25px;
}

.depts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px 30px;
    margin: 25px
}

.courses {
    margin: 20px 0px 25px 0px;
}

.profs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px 60px;
    margin: 50px 25px 25px 25px;
}