.tile {
    display: flex;
    flex-direction: column;
    padding: 12px 36px;
    margin: 12px;
    gap: 12px;
    border-radius: 8px;
    justify-content: center;
    color: black;
}

.glance {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2em;
}

.ciTitle {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ciButton {
    padding: 12px 12px;
    margin: 12px;
    gap: 12px;
    height: 3em;
    width: 12em;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    justify-content: center;
    color: black;
}

.offeredInstructors {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.topmargin {
    margin-top: 1em;
}

.ciButton:hover {
    opacity: 0.5;
}

.sliderLabels {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    padding-left: 2em;
    padding-right: 2em;
    width: 30%;
}

.reviewform {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button {
    background-color: #28282D;
    margin-top: 0.5em;
    padding: 0.5em 2em;
    color: white;
    text-align: center;
    border-radius: 8px;
    transition: color 0.15s ease;
}

.button:hover,
.button:focus {
    color: black;
    background-color: #fafafa;
}

.textarea {
    width: 90%;
}

.reviewRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.reviewComp {
    display: flex;
    gap: 0.5em;
    justify-content: space-around;
}

.reviewContainer {
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid lightgray;
    border-radius: 0.25em;
}

.marginTopBottom {
    margin-top: 10px;
    margin-bottom: 20px;
}