.tile {
    display: flex;
    flex-direction: column;
    padding: 12px 36px;
    margin: 12px;
    gap: 12px;
    width: 12em;
    border-radius: 8px;
    justify-content: center;
    color: black;
}

.glance {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2em;
}

.ciTitle {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ciButton {
    padding: 12px 12px;
    margin: 12px;
    gap: 12px;
    height: 3em;
    width: 12em;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    justify-content: center;
    color: black;
}

.offeredInstructors {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.topmargin {
    margin-top: 1em;
}

.ciButton:hover {
    opacity: 0.5;
}