.container {
    padding: 0 2rem;
    margin-left: 250px;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* .title a {
  color: #0070f3;
  text-decoration: none;
}
.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
} */

.title {
    padding-top: 5%;
    margin-bottom: 0px;
    font-size: 2.3rem;
    display: flex;
    align-items: flex-start;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    padding-top: 2%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-wrap: wrap;
    max-width: 100%;
}

.horizscroll {
    padding-top: 2%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    overflow-x: scroll;
    white-space: break-spaces;
    max-width: 100%;
}

.horizscroll a {
    width: 300px;
    height: 175px;
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    text-decoration: none;
    border-radius: 5px;
    transition: color 0.15s ease;
    max-width: 300px;
}

.horizscroll a:hover,
.horizscroll a:focus,
.horizscroll a:active {
    color: black;
    background-color: #fafafa;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

.buttondiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    margin-top: 15%;
    background-color: #28282D;
    color: white;
    padding: 20px 32px;
    text-align: center;
    border-radius: 8px;
    transition: color 0.15s ease;
}

.button:hover,
.button:focus {
    color: black;
    background-color: #fafafa;
}

.button:active {
    color: red;
    background-color: #fafafa;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

@media (prefers-color-scheme: dark) {

    .card,
    .footer {
        border-color: #222;
    }

    .code {
        background: #111;
    }

    .logo img {
        filter: invert(1);
    }
}