.container {
    padding: 0 2rem;
    margin-left: 300px;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.header {
    display: flex;
}

.title {
    padding-top: 5%;
    padding-bottom: 15px;
    margin-bottom: 0px;
    font-size: 2.3rem;
    align-items: flex-start;
}

.exitbutton{
    width: 70px;
    height: 40px;
    margin-top: 3%;
    background-color: #28282D;
    color: white;
    border-radius: 5px;
    text-align: center;
    transition: color 0.15s ease;
    justify-content: flex-end;
}

.button{
    width: 60px;
    height: 40px;
    margin-top: 3%;
    background-color: #28282D;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    transition: color 0.15s ease;
    color: white;
    font-size: 20px;
    padding-left: 20px;
}

.button:hover,
.button:focus {
    color: black;
    background-color: #fafafa;
}

.button:active {
    color: red;
    background-color: #fafafa;
}

.question {
    text-align: center;
    margin-top: 15%;
}

.footer {

}