@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color variables */
/*  
  Color variables
  To use: var(--variable-name)
  ex. color: var(--pastel-blue);
 */
html {
  --pastel-blue: #EBF9FA;
  --dark-blue: #5B8A8D;
  --pastel-green: #EFFAEB;
  --dark-green: #75946A;
  --pastel-orange: #FCF0E3;
  --dark-orange: #BA7D37;
  --pastel-purple: #EFE7FA;
  --dark-purple: #7E5DAC;
  --pastel-pink: #FAEBF6;
  --dark-pink: #AE5E99;
  --pastel-violet: #F9F3FC;
  --dark-violet: #8E5BA8;
  --alert-red: #FF7C7C;
  --warning-yellow: #FFF27C;
  --navy: #14121D;
  --darkest-grey: #28282D;
  --dark-grey: #535560;
  --mid-grey: #848698;
  --light-grey: #AFB1C1;
  --lighter-grey: #DEDFE8;
  --lightest-grey: #F4F5F9;
  --white: #FFFFFF;
  --links-unselected: #01AAE4;
  --links-selected: #01AAE4;
}

input {
  background-color: var(--lightest-grey);
  width: 335px;
  height: 36px;
  border-radius: 4px;
  border: none;
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 122.13%;
  padding-left: 15px;
}

select {
  background-color: var(--lightest-grey);
  width: 335px;
  height: 36px;
  border-radius: 4px;
  border: none;
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 122.13%;
  padding: 0 15px;
}

textarea:focus, input:focus{
    outline: none;
}