.container {
  padding: 0 2rem;
  margin-left: 300px;
  margin-top: 2%;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.waitlistCardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin: 20px;
}
