.container {
  padding: 0 2rem;
  margin-left: 300px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left;
}

.page_header {
  padding-bottom: 5%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.course_title {
  height: 150px;
  min-width: 100%;
  border-radius: 15px;
  color: #5B8A8D;
  padding: 2%;
  background-color: #EBF9FA;
}

.left_info {
  min-width: 75%;
  display: flex;
  flex-direction: column;
}

.right_info {
  min-width: 25%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 2.3rem;
}

.button {
  background-color: #14121D;
  border-color: transparent;
  border-radius: 10px;
  color: white;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.button:hover,
.button:visited,
.button:focus,
.button:active {
  color: #14121D;
  background-color: #fafafa;
  border-color: transparent;
}

.signupbtn {
  background-color: #14121D;
  border-color: transparent;
  border-radius: 10px;
  width: 200px;
  color: white;
  padding: 1em;
  margin: 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.signup:hover,
.signup:visited,
.signup:focus,
.signup:active {
  color: #14121D;
  background-color: #fafafa;
  border-color: transparent;
}

.info_graphic {
  background-color: #5B8A8D;
  border-radius: 10px;
  font-style: bold;
  color: #fafafa;
  height: 100px;
  width: 220px;
  padding: 32px 15px;
  text-align: center;
  text-decoration: none;
  vertical-align: center;
  display: inline-block;
  font-size: 30px;
}

.waitlist_btns {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.waitlist_details_container {
  border-radius: 10px;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.waitlist_details_container table {
    margin: 0.25em;
    text-align: center;
}

.waitlist_details_container th {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
}

.waitlist_details_container td {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
}

.waitlist_element {
  background-color: #EBF9FA;
  border-radius: 10px;
  margin-top: 8%;
  margin-bottom: 10%;
  padding: 5%;
  max-height: 350px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.waitlist_position {
  min-width: 75%;
  border-radius: 10px;
  height: 15%;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prof_info_container {
  background-color: #F4F5F9;
  min-width: 75%;
  margin-top: 30%;
  border-radius: 10px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.small_btn {
  background-color: #14121D;
  color: white;
  border: transparent;
  border-radius: 10px;
  padding: 5%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.profile_picture {
  background-color: #fafafa;
  height: 200px;
  border-radius: 20px;
  text-align: center;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.py-3 input[type="checkbox"] {
    /* removing default appearance */
        -webkit-appearance: none;
        appearance: none;
        /* creating a custom design */
        width: 1.6em;
        height: 1.6em;
        border-radius: 0.15em;
        margin-right: 0.5em;
        border: 0.15em solid #007a7e;
        outline: none;
        cursor: pointer;
}

.cb {
    width: 2em;
    margin: 1em;
}

.cblabel {
    width: 100%;
}