.container {
  padding: 0 2rem;
  margin-left: 300px;
}

.description {
  margin: 1.5rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.btn {
  background-color: #14121D;
  border-color: transparent;
  border-radius: 10px;
  color: white;
  height: 50px;
  width: 220px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.btn:hover,
.btn:visited,
.btn:focus,
.btn:active {
  color: #14121D;
  background-color: #fafafa;
  border-color: transparent;
}
