.card {
  width: 340px;
  height: 375px;
  margin: .75rem;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.bottomButtons {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.btn {
  background-color: #14121D;
  border-color: transparent;
  border-radius: 10px;
  color: white;
  height: 50px;
  width: 150px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
}

.btn:hover,
.btn:visited,
.btn:focus,
.btn:active {
  color: #14121D;
  background-color: #fafafa;
  border-color: transparent;
}